body { 
font-family: "monospace";
background-color:#343c4a;
color:#ffffff;
}
.card {
border:none;
outline:none;
background-color:#404552;
}
.card-body {
background-color:#404552;
margin-top:20px;
}
.btn-kaito { 
background-color:#5294e2;
}
.badge-success { 
background-color:#5294e2; 
} 
.badge-dark { 
background-color:#5294e2; 
} 
.badge-warning { 
background-color:#ffffff; 
}
.kaito {
margin-top:20px;
font-size:28px;
}
.break {
margin-top:15px;
}
.breakdown {
margin-bottom:10px;
text-align: left;
}

